@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
:root{
  --primary:#ff4d29;
  --textColor:#092032;
  --bgColor:#eaeaea;
}
html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Barlow",sans-serif;
  overflow-x: hidden;
  line-height: 1.7;
  color: #516171;
  background-color: var(--bgColor);
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700 !important;
  color: #092032;
}
a{
  text-decoration: none;
  color: #092032;
  transition: all 0.5s ease;
  font-weight: 500 !important;
}
img{
  width: 100%;
}

.bg-cover{
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
}

/* NAVBAR */
.contact-btn{
  border: 2px solid orange;
  background-color: orange;
  color: white;
}
.contact-btn:hover{
  color: orange;
  background-color: transparent;
  border: 2px solid orange !important;
}

.logo{
  font-size: 34px;
  font-weight: 700 !important;
}

.nav-link{
  font-size: 17px;
  letter-spacing: 1px;
}

.nav-link:hover{
  color: var(--primary);
}

.navbar{
  box-shadow: 0px 6px 30px rgba(0,0,0,0.08);
}

.content-img{
  background-image: url("../img/support.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.content-img h2{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.table{
  text-align: center;
}

.table tr td{
  padding: 20px 0 !important;
  font-size: 18px;
}
.table-download{
  color: var(--primary);
}
.table-download:hover{
  color: orange;
}

.choose-img{
  width: 400px !important;
  transition: 0.4s ease;
  cursor: pointer;
  color: white;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.choose-img:hover{
  transform: scale(1.1);
  opacity:0.5;
}

.choose-img:nth-child(1){
  background-image: url("../img/gamin1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 409px;
  height: 237px;
}
.choose-img:nth-child(2){
  background-image: url("../img/gaming2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 409px;
  height: 237px;
}
.choose-img:nth-child(3){
  background-image: url("../img/gamin3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 409px;
  height: 237px;
}

.about{
  height: 100vh;
  width: 100%;
}

.about-text{
  width: 50%;
}
